<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Archetype Created Web Application</display-name>
   <servlet>
   		<description>
    	</description>
   		<display-name>Login</display-name>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>Login</servlet-class>
    </servlet>
     <servlet>
   		<description>
    	</description>
   		<display-name>Registration</display-name>
    	<servlet-name>Registration</servlet-name>
    	<servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
   		<description>
    	</description>
   		<display-name>UsersListing</display-name>
    	<servlet-name>UsersListing</servlet-name>
    	<servlet-class>UsersListing</servlet-class>
    </servlet>
        <servlet>
   		<description>
    	</description>
   		<display-name>Logout</display-name>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>Logout</servlet-class>
    </servlet>
      <servlet>
    	<description>
    	</description>
    	<display-name>DailyMessage</display-name>
    	<servlet-name>DailyMessage</servlet-name>
    	<servlet-class>DailyMessage</servlet-class>
    </servlet>
         <servlet-mapping>
    	<servlet-name>Registration</servlet-name>
    	<url-pattern>/Registration</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
    	<servlet-name>DailyMessage</servlet-name>
    	<url-pattern>/DailyMessage</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/Login</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>UsersListing</servlet-name>
    	<url-pattern>/UsersListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
    </servlet-mapping>
     <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
</web-app>